<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/access_form.css" />
    <title>Sign Out</title>
</head>
<body>
    <div class="form-wrap">
        <h1>SIGN OUT</h1>
        <p>Are you sure you want sign out?</p>
        <form action="/signout" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </div>
</body>
</html>