<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Email</label>
        <input type="text" name="username" id="username" required autocomplete="off">
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass" required>
        <button type="submit">Login</button>
    </form>
    <button onclick="window.location.href='/login/google';">Google</button>
    <p>Don't have an account?<a href="/signup">Signup</a></p>
</body>
</html>